    [Unit]
    Description=Newsboat refresh service
    RefuseManualStart=no
    RefuseManualStop=no

    [Service]
    Type=oneshot
    ExecStart=/usr/bin/newsboat -x reload
    RemainAfterExit=true

    [Install]
    WantedBy=multi-user.target
