[Unit]
Description=Refreshes Newsboat feeds every 60 minutes
RefuseManualStart=no
RefuseManualStop=no
After=network.target

[Timer]
OnCalendar=hourly
AccuracySec=1h
Persistent=true
Unit=newsboat-refresh.service

[Install]
WantedBy=timers.target

